# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
bin/

# Intellij
.idea/
*.iml
*.ipr
*.iws
.shelf
out/


# Mac
.DS_Store

# Maven
log/
target/

# gradle
.gradle
/build/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
